.grid-layout {
  display: grid;
  min-height: 100vh;
  &__top {
    align-self: start;
  }
  &__bottom {
    align-self: end;
  }
  &--without-footer {
    grid-template-rows: auto 1fr;
    // height: 100vh;
    overflow-x: hidden;
  }
}
