@import "../styles/config";

.chat-room {
  position: relative;
  // overflow: hidden;
  &__chat-box ul,
  &__typing-user ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__chat-box {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &__msgs {
    min-height: 320px;
    margin-top: auto;
    overflow: auto;
    padding-bottom: 6em;
  }
  &__msgs li {
    font-size: 1.05rem;
    position: relative;
    border: 2px solid;
    padding: 0.5em;
    margin: 0.5em;
    & > div:first-child {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.6em;
      time {
        font-size: 0.85rem;
      }
    }
    & > p {
      margin: 0;
      min-height: 1em;
    }
  }
  &__msgs li::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: black;
  }
  &__msgs li.me {
    border-color: $primary-color;
    border-radius: 10px 10px 0;
    text-align: right;
    box-shadow: inset -2px 0 $primary-color;
    & > div:first-child {
      flex-direction: row-reverse;
    }
    & > p {
      padding-right: 3px;
      border-right: 3px solid $primary-color;
    }
  }
  &__msgs li.others {
    border-color: #333;
    border-radius: 0 10px 10px;
    box-shadow: inset 2px 0 #333;
    & > p {
      padding-left: 3px;
      border-left: 3px solid #333;
    }
  }
  &__msgs li.me::after {
    background-color: $primary-color;
    right: -5px;
    bottom: -2px;
    border-top-right-radius: 5px;
  }
  &__msgs li.others::after {
    background-color: #333;
    left: -5px;
    top: -2px;
    border-top-left-radius: 5px;
  }
  &__inputs-container {
    min-width: 350px;
  }
  &__inputs {
    position: fixed;
    bottom: 0;
    margin-top: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8em 0;
    background-color: $secondary-color;
    textarea {
      width: 70%;
      margin-right: 1em;
      padding: 0.3em;
      resize: none;
      font-size: 1.1rem;
    }
    button {
      font-size: 1.8rem;
      border: none;
      text-align: center;
      color: white;
      background-color: $primary-color;
      border-radius: 5px;
    }
  }
  &__typing-user {
    width: 100%;
    background-color: #333;
    min-height: 50vh;
    position: absolute;
    left: -150%;
    top: 3.5rem;
    display: block;
    transition: left 200ms;
    z-index: 1;
    ul {
      padding: 0 2em 1em;
      top: 1em;
    }
    li {
      margin: 0.5em 0;
    }
    &--show {
      left: 0;
    }
    &--hidde {
      left: -150%;
    }
    h2 {
      text-align: center;
      color: white;
    }
  }
  &__user-item {
    color: white;
    span {
      padding-right: 0.5em;
    }
    &--online {
      span {
        color: green;
      }
    }
    &--offline {
      span {
        color: red;
      }
    }
    &--typing {
      color: green;
      &::after {
        content: " is typing";
      }
    }
  }
  &__header {
    background-color: #333;
    display: flex;
    padding: 0.5em;
    font-size: 1.1rem;
    p {
      margin: auto;
      color: white;
    }
    .date-container {
      width: 40px;
      height: 40px;
      overflow: hidden;
      position: relative;
      border-radius: 4px;
      &__logo {
        display: block;
        background-color: white;
        text-align: center;
        line-height: 40px;
      }
      input {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        font-size: 1.5rem;
        border: none;
        padding: 0.2em;
        display: block;
        opacity: 0;
      }
    }
    .toggle-btn {
      button {
        font-size: 1.5rem;
        font-weight: bold;
        display: inline-block;
        width: 40px;
        height: 40px;
        margin-right: 0.5em;
        border: none;
        border-radius: 4px;
      }
    }
  }
}

@media (min-width: 600px) {
  .chat-room {
    display: flex;
    justify-content: space-around;
    &__chat-box {
      width: 65%;
      margin: 0 2em;
    }
    &__typing-user {
      width: 30%;
      margin-right: auto;
      position: static;
      padding-top: 2rem;
      background-color: #333;
      min-height: auto;
      ul.fixed {
        position: fixed;
      }
      ul.static {
        position: static;
      }
    }
    .toggle-btn {
      button {
        display: none;
      }
    }
  }
}

@media (min-width: 1100px) {
  .chat-room {
    &__chat-box {
      width: 75%;
      margin: 0 2em;
      flex-direction: row;
    }
    &__chat-header-box-container {
      flex: 2;
      margin-right: 20px;
    }
    &__inputs {
      flex: 1;
      height: 100px;
      margin-bottom: 1em;
      flex-direction: column;
      justify-content: space-evenly;
      textarea {
        resize: vertical;
      }
      button {
        margin-top: 0.3em;
        width: 100px;
        border-radius: 5px;
      }
    }
    &__typing-user {
      width: 20%;
      margin-right: auto;
      position: static;
      padding-top: 2rem;
      background-color: #333;
      min-height: auto;
    }
  }
}
