@import "../styles/config";
@import "../styles/loaders";

.dialog-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #333;
  z-index: 1000;
  &__status {
    text-align: center;
    color: white;
  }
  &--white {
    background-color: white;
  }
}

.report-dialog {
  max-width: 340px;
  padding: 1.5rem 2rem;
  color: lighten($color: $secondary-color, $amount: 80%);
  background-color: $secondary-color;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  white-space: nowrap;
  transform: translate(-50%, -50%);
  &__title {
    margin: 0;
  }
  &__reasons-title {
    padding: 0.5em 0;
    display: block;
  }
  &__reasons {
    border: none;
    margin: 0;
    padding: 0;
  }
  &__error {
    // text-align: center;
    margin-top: 0.5em;
    color: red;
  }
  &__form label {
    display: inline-block;
    padding-left: 5px;
  }
  &__submit-btn {
    display: block;
    margin: 0.5em auto;
    padding: 0.5em 2.5em;
    font-size: inherit;
    border: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: $primary-color;
    transition: background-color 300ms, color 300ms;
    cursor: pointer;
    &:hover {
      color: black;
      background-color: lighten($color: $primary-color, $amount: 20%);
    }
  }
  &__close-btn {
    position: absolute;
    background-color: white;
    border: none;
    font-weight: bold;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
}

.take-action-dialog {
  width: 90%;
  margin: auto;
  max-width: 500px;
  background-color: #333;
  color: white;
  padding: 1em;
  box-sizing: border-box;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__close-btn {
    border: none;
    width: 40px;
    height: 40px;
    position: relative;
    color: transparent;
    background-color: transparent;
    z-index: 1;
    cursor: pointer;
    &::after {
      content: "X";
      line-height: 40px;
      position: absolute;
      color: red;
      top: 0;
      left: 0;
      font-size: 1.2rem;
      font-weight: bold;
      background-color: white;
      width: 40px;
      height: 40px;
      z-index: -1;
      border-radius: 50%;
      &:hover,
      &:focus {
        background-color: gray;
      }
    }
  }
  &__action {
    margin: 0.5em 0;
  }
  &__action-title::selection {
    background-color: transparent;
  }
  &__action-btn {
    display: inline-block;
    margin: 1em 0;
    padding: 0.5em 1em;
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    &:hover,
    &:focus,
    &:disabled {
      background-color: lighten(crimson, 10%);
    }
  }
  &__action-textarea {
    display: block;
    margin-top: 1em;
    resize: vertical;
  }
  &__action-status {
    margin: 0;
    &--ok {
      color: lightgreen;
    }
    &--wrong {
      color: lightcoral;
    }
  }
}

@media screen and (min-width: 600px) {
  .report-dialog,
  .take-action-dialog {
    font-size: 1.1rem;
  }
  .take-action-dialog {
    padding: 2em;
  }
}
