.user-menu {
  display: flex;
  position: relative;
  z-index: 1000;
  &__hamburger-btn {
    height: 36px;
    width: 36px;
    padding: 0;
    line-height: 0;
    border: 0;
    margin-right: 0.2em;
    border-radius: 50%;
    font-size: 2rem;
    background-color: inherit;
    cursor: pointer;
    transition: color 300ms;
    &:hover,
    &:focus {
      color: #333;
    }
  }
}
.user-menu div {
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  position: relative;
}
div.user-menu__name {
  margin-right: 1em;
  font-size: 1.1rem;
  line-height: 39px;
  color: white;
}
.user-menu summary {
  text-align: right;
  border-radius: 50%;
  background-color: white;
  border: 1px solid white;
}
.user-menu .profile-img {
  width: 35px;
  vertical-align: middle;
  padding: 1px;
}
.user-menu .profile-img::selection {
  color: transparent;
}

.user-menu .nav {
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: white;
  position: absolute;
  top: 105%;
  right: 0;
  white-space: nowrap;
  overflow: hidden;
}

.user-menu ul,
.guest-menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.user-menu ul {
  position: relative;
}

.guest-menu ul {
  display: flex;
}
.user-menu .nav__link,
.guest-menu .nav__link {
  display: block;
  color: black;
  padding: 0.75em 3.3em;
  text-decoration: none;
  text-transform: capitalize;
  outline: none;
}
.guest-menu .nav__item + .nav__item {
  color: red;
  margin-left: 0.5em;
}

.guest-menu .nav__link {
  font-weight: 600;
  padding: 0.3em 1em;
  border-radius: 30px;
  background-color: white;
  text-transform: uppercase;
}
.guest-menu .nav__link--login {
  background-color: gold;
}

.guest-menu .nav__link:hover,
.guest-menu .nav__link:focus {
  background-color: lightgray;
}

.guest-menu .nav__link--login:hover,
.guest-menu .nav__link--login:focus {
  background-color: rgb(250, 231, 121);
}

.user-menu .nav__link:hover,
.user-menu .nav__link:focus {
  background-color: gainsboro;
}
